@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*!---------Reset----------*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1c1c1e !important;
  font-family: "poppins", sans-serif !important; }

@media (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr; } }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 12;
    margin: 1rem; }
  .hero {
    height: 100%; } }

.boton, .boton2 {
  text-decoration: none;
  color: white; }

.boton {
  background-color: linear-gradient(135deg, #2c2c2e, #443c4b);
  border-radius: 12px; }

.boton2 {
  background-color: #311a70;
  border-radius: 12px; }

/*---------Index----------*/
.boton {
  background: linear-gradient(135deg, #2c2c2e, #443c4b);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 15px; }
  .boton:hover {
    background: linear-gradient(135deg, #443c4b, #2c2c2e);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); }

footer {
  background: linear-gradient(135deg, #2c2c2e, #443c4b);
  padding: 2rem;
  margin: 2rem 0 0;
  display: flex;
  flex-direction: row; }
  footer h2 {
    color: #fff;
    margin: 1rem 0 2rem; }
  footer .footer a {
    color: white;
    margin: 0 10px;
    font-size: 24px; }
    footer .footer a:hover {
      color: #d1d1d1; }

.contact-form {
  background: #ffffff07;
  padding: 4rem;
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px; }
  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; }
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #555; }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd22;
    border-radius: 5px; }
  .contact-form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #2c2c2e, #443c4b);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; }
    .contact-form button:hover {
      background: linear-gradient(135deg, #443c4b, #2c2c2e); }

header {
  background: linear-gradient(135deg, #2c2c2e, #443c4b);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 1rem 2rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  align-items: center;
  display: flex; }
  header img {
    width: 90px;
    height: auto;
    transition: transform 0.3s ease-in-out; }
    header img:hover {
      animation: pulse 1s infinite; }
  header .navbar-brand {
    font-size: 50px; }
  header .nav-link {
    color: #f5f5f7 !important; }
  header .navbar-toggler {
    border-color: #f5f5f7; }
  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(245, 245, 247, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.hero {
  width: 100%;
  height: 450px;
  text-align: start;
  background-image: url(../img/bannerhero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 2rem 0;
  padding: 1rem 0; }
  .hero div img {
    width: 60px;
    height: auto;
    margin-bottom: 1rem; }
  .hero h3, .hero p {
    color: aliceblue; }
  .hero .heroblur {
    background: #2c2c2e37;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 3rem;
    margin: 3rem 5rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    animation: slide-in-left 1s ease-out forwards; }

/* animación */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px; }

.grid-item {
  color: white;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center; }
  .grid-item:nth-child(1), .grid-item:nth-child(2) {
    grid-column: span 6; }

.grid-item img {
  transition: transform 0.3s ease-in-out; }
  .grid-item img:hover {
    animation: pulse 1s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .galeria .galeria-item {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border-radius: 30px; }
    .galeria .galeria-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 80px; }

.servicio_index {
  margin: 1rem 1rem 2rem 2rem;
  padding: 1rem; }
  .servicio_index h3 {
    margin: 1rem 0;
    color: #fff; }
  .servicio_index p {
    margin: 3rem 3rem 1rem 0;
    color: gray; }
  .servicio_index h4 {
    margin: 3rem 0 1rem 0;
    color: gray; }
  .servicio_index h3, .servicio_index div, .servicio_index h5 {
    margin: 1rem 0; }

.indexh2 {
  margin: 1rem 1rem 2rem 2rem; }

.nav-item {
  position: relative; }
  .nav-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #ffffff26;
    transform: translateX(50%); }

.navimg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 2rem 1rem 1rem 0;
  border-radius: 30px; }

.boxservicios {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }

/*---------Fin Servicios Section----------*/
.imgclientes, .imgdoblediamante {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 2rem 1rem 1rem 0; }

.imgdoblediamante {
  width: 60%; }

.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px; }
  .whatsapp a img {
    width: 60px;
    background-color: rgba(255, 255, 255, 0.319);
    border-radius: 40px; }
