@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*!---------Reset----------*/
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1e !important;
    font-family: "poppins", sans-serif !important;
}

/*!---------Header----------*/

header {
    background: linear-gradient(135deg, #2c2c2e, #443c4b);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
}

header img {
    width: 90px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.navbar-brand {
    font-size: 50px;
}

.nav-link {
    color: #f5f5f7 !important;
}

.navbar-toggler {
    border-color: #f5f5f7;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(245, 245, 247, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*!---------Fin Header----------*/


/*!---------Index----------*/

.boton {
    background: linear-gradient(135deg, #2c2c2e, #443c4b);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Asegura que el botón ocupe solo el ancho del texto */
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 15px; /* Margen superior opcional */
}

.boton:hover {
    background: linear-gradient(135deg, #443c4b, #2c2c2e); /* Efecto hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

    /*!---------hero----------*/

.hero {
    width: 100%;
    height: 450px;
    text-align: start;
    background-image: url(../img/bannerhero2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0rem;
}

.hero div img {
    width: 60px;
    height: auto;
    margin-bottom: 1rem;
}

.heroblur {
background: #2c2c2e37;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
padding: 3rem;
margin: 3rem 5rem 3rem 5rem;
border-radius: 40px;
    display: flex;
    flex-direction:column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px; /* Espacio entre columnas */
  }
  
  .grid-item {
    color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  /* Cada columna ocupa 4 espacios de 12 */
  .grid-item:nth-child(1),
  .grid-item:nth-child(2) {
    grid-column: span 6;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Se reorganiza en una columna */
    }
    .grid-item {
      grid-column: span 12; /* Cada item ocupa toda la fila */
      margin: 1rem;
    }
    
    .hero{
        height: 100%;
    }
  }
  .hero h3, p{
    color:aliceblue;
}

/*!---------Fin hero----------*/

/*!---------Servicios Section----------*/

.servicio_index{
    margin: 1rem 1rem 2rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.servicio_index h3{
    margin: 1rem 0rem 1rem 0rem;
    color: rgb(255, 255, 255);
}

.servicio_index p{
    margin: 3rem 3rem 1rem 0rem;
    color: gray;
}

.servicio_index h4{
    margin: 3rem 0rem 1rem 0rem;
    color: gray;
}


.servicio_index h3, div{
    margin: 1rem 0rem 1rem 0rem;
}

.servicio_index h3, div, h5{
    margin: 1rem 0rem 1rem 0rem;
}

.indexh2 {
    margin:1rem 1rem 2rem 2rem;
}

.nav-item {
    position: relative;
  }
  .nav-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #ffffff26;
    transform: translateX(50%);
  }

.navimg {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: 2rem 1rem 1rem 0rem;
    border-radius: 30px;

}

.boxservicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}



/*!---------Fin Servicios Section----------*/

.imgclientes {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: 2rem 1rem 1rem 0rem;

}

.imgdoblediamante {
    width: 60%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: 2rem 1rem 1rem 0rem;

}

/*!---------Footer----------*/

footer {
    background: linear-gradient(135deg, #2c2c2e, #443c4b);
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;

}

footer h2 {
    color: rgb(255, 255, 255);
    margin: 1rem 0rem 2rem 0rem;
}

.footer a {
    color: white; /* Iconos de color blanco */
    margin: 0 10px; /* Espaciado entre los iconos */
    font-size: 24px; /* Tamaño de los iconos */
  }

  .footer a:hover {
    color: #d1d1d1; /* Color al pasar el mouse sobre los iconos */
  }

/*!---------whatsapp----------*/
.whatsapp{
position:fixed;
bottom: 50px;    
right: 50px;
}

.whatsapp a img{
    width: 60px; /* Ajusta según sea necesario */
    background-color: rgba(255, 255, 255, 0.319);
    border-radius: 40px;
}




