/*---------Index----------*/

.boton {
    background: map-get($boton, bg-color);
    border: none;
    border-radius: map-get($boton, border-radius);;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
  
    &:hover {
      background: $degradado-principal-hover;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }
  }