.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  
    .galeria-item {
      position: relative;
      overflow: hidden;
      padding-bottom: 100%;
      border-radius: 15px;
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }

      
    }
    
  }

.gridcuatro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    height: auto;
    padding: 20px;
}

.square {
    border-radius: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    width: auto;
}

.square1 {
  background: $degradado-principal-hover;
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 2rem;
}

.square2 {
  background: $degradado-principal-hover;
  font-size: 18px;
  color: white;
  text-align: left;
  padding: 2rem;
}

.square3 {
    background: $degradado-principal;
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 2rem;
}

.square4 {
    background: $degradado-principal;
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 2rem;
}

.frameresponsive {
  display: flex;
  flex-direction: column;
  width: 75%; 
  height: auto;
  aspect-ratio: 16/9;
  border: none; 
}

.tag {
  position: absolute;
  bottom: 10px; // Ajusta la distancia desde la parte inferior
  left: 10px; // Ajusta la distancia desde la parte izquierda
  background-color: $color-secundario;// Fondo semitransparente para que el texto sea legible
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px; // Ajusta el tamaño del texto según sea necesario
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
