.servicio_index {
  @include space(1rem 1rem 2rem 2rem, 1rem);
  
    h3 {
      margin: 1rem 0;
      color: #fff;
    }
  
    p {
      margin: 3rem 3rem 1rem 0;
      color: gray;
    }
  
    h4 {
      margin: 3rem 0 1rem 0;
      color: gray;
    }
  
    h3, div, h5 {
      margin: 1rem 0;
    }
  }
  
  .indexh2 {
    margin: 1rem 1rem 2rem 2rem;
  }
  
  .nav-item {
    position: relative;
  
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background-color: #ffffff26;
      transform: translateX(50%);
    }
  }
  
  .navimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 2rem 1rem 1rem 0;
    border-radius: 30px;
    animation: fadeInOut 3s ease-in-out;
  }
  
  .boxservicios {
    @include flex(flex, space-between, flex-start, column);
  }
  
  /*---------Fin Servicios Section----------*/
  
  .imgclientes, .imgdoblediamante {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 2rem 1rem 1rem 0;
  }
  
  .imgdoblediamante {
    width: 60%;
  }

  @keyframes fadeInOut {
    0% {
        opacity: 0; // Comienza transparente
    }
    100% {
        opacity: 1; // Alcanza su máxima opacidad
    }
}