@media (max-width: 768px) {
    .galeria {
      grid-template-columns: 1fr;
    }
  
  .galeria-item {
    grid-column: span 8;
  }
}

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  
    .grid-item {
      grid-column: span 12;
      margin: 1rem;
    }
  
    .hero {
      height: 100%;
    }
  }

  @media (max-width: 768px) {
    .gridcuatro {
      grid-template-columns: 1fr;


    }
  
    .square {
      grid-column: span 6;
      margin: 1rem;
      height: 100%;
    }

  }